absl-py==0.7.0
astor==0.7.1
docopt==0.6.2
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
jedi==0.13.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.0.1
numpy==1.16.1
parso==0.3.4
prompt-toolkit==2.0.8
protobuf==3.6.1
ptpython==2.0.4
Pygments==2.3.1
six==1.12.0
tensorboard==1.12.2
tensorflow==1.15.0
termcolor==1.1.0
wcwidth==0.1.7
Werkzeug==0.14.1
